@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1, h2, p, a, span {
  font-family: 'Montserrat', sans-serif;
}
a {
  font-size: 28px;
  margin: 4px auto 4px 6px;
}
h2 {
  margin: 5px;
  font-size: 34px;
}
.maincontainer {
  margin: 30px auto auto 3%;
  transition-duration: 1s;
}
.kl6container {
  overflow: hidden;
}
.kl6drop {
  height: 0;
}
.kl6container:hover .kl6drop {
  height: auto;
}
.kl7container {
  overflow: hidden;
}
.kl7drop {
  height: 0;
}
.kl7container:hover .kl7drop {
  height: auto;
}
.kl8container {
  overflow: hidden;
}
.kl8drop {
  height: 0;
}
.kl8container:hover .kl8drop {
  height: auto;
}
