@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1, h2, p, a, span {
  font-family: 'Montserrat', sans-serif;
}
a {
  font-size: 28px;
  margin: 4px auto;
  color: blue;
  text-decoration: none;
}
h1 {
  font-size: 42px;
}
h2 {
  margin: 5px;
  font-size: 34px;
}
.maincontainer {
  margin: 30px auto auto 15%;
  z-index: 1;
}
.kl6container {
  overflow: hidden;
}
.kl6drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl6container:hover .kl6drop {
  max-height: 300px;
}
.kl7container {
  overflow: hidden;
}
.kl7drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl7container:hover .kl7drop {
  max-height: 300px;
}
.kl9container {
  overflow: hidden;
}
.kl9drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl9container:hover .kl9drop {
  max-height: 300px;
}
.kl10container {
  overflow: hidden;
}
.kl10drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl10container:hover .kl10drop {
  max-height: 300px;
}
.kl11container {
  overflow: hidden;
}
.kl11drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl11container:hover .kl11drop {
  max-height: 300px;
}
.kl12container {
  overflow: hidden;
}
.kl12drop {
  padding-left: 30px;
  max-height: 0;
  transition-duration: 1s;
}
.kl12container:hover .kl12drop {
  max-height: 300px;
}
.hof {
  position: absolute;
  z-index: 0;
  right: 20%;
  width: 500px;
}
.hof:hover {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  50% {
    transform: rotate(3600deg);
    right: 60%;
    width: 2500px;
  }
  100% {
    transform: rotate(7200deg);
    right: 20%;
  }
}
