@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary: #F5F5F5;
    --secondary: #000000;
    --tertiary: #292929;
    --quartary: #0000ff;
    --quintary: #d7d7d7;
    --fun     :#00b068;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .dark {
    --primary: #0d191d;
    --secondary: #ffffff;
    --tertiary: #00b068;
    --quartary: #5369fc;
    --quintary: #13242a;
    --fun     :#00b068;
    
  }

  .hacker{
    --primary: #0d191d;
    --secondary: #ffffff;
    --tertiary: #ce10d4;
    --quartary: #07e207;
    --quintary: #1f2629;
    --fun     :#ce10d4;
  }
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    z-index: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--quintary);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--quintary);
  }

  body {
    background: var(--primary);
    margin: 0;
  }

  hr {
    background: var(--secondary);
  }

  button {
        width: 50px;
        height: 50px;
        cursor: pointer;

    }
    .darkswitch {
        background-color:#F5F5F5;
        border-radius:50%;
        transition-duration: 0.4s;
        border: none;
        margin: 0 auto auto 46px;
    }
    .darkswitch:hover {
        background-color: #00b068;
    }
    .darkswitch .darkswitchpic {
        height: 30px;
        width: 30px;
        margin: auto auto auto 4px;
    }

    .header {
      height: 130px;
      overflow: hidden;
      background: linear-gradient(60deg, var(--quintary) 23%, #0088ff  35%, #1c9e75 35% 45%, #97d07e 45% 55%, #74befe 55%, 65%, #51af30 65%, var(--quintary) 80%);
      padding-left: 1vw;
      border-bottom: 2px solid var(--secondary);
    }
    .header img {
      float: left;
      margin-right: -0.4vw;
      margin-top: -8px;
      height: 150px;
    }
    .header h1 {
      margin-top: 11px;
    }
    .header .text {
      width: 320px;
      text-align: center;
      float: left;
    }
    .header .buttons {
      margin-right: 10px;
      margin-left: auto;
      width: 113px;
      float: right;
    }
    .header .phppic {
      height: 70px;
      margin-top: 2px;
    }

#footer p {
  margin: 0;
}

.content {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
  margin-left: 20px;
}

  h1, h2, p, a, span, button {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: var(--tertiary)
  }
  a {
    font-size: 28px;
    color: var(--quartary);
    text-decoration: none;
  }
  h1 {
    font-size: 42px;
    color: var(--secondary);
  }
  h2 {
    margin: 5px;
    font-size: 34px;
    color: var(--tertiary);
  }
  .maincontainer {
    z-index: 1;
    overflow: hidden;
  }
  .xcontainer {
    overflow: hidden;
  }
  .xdrop {
    margin-left: 25px;
    border: solid var(--secondary);
    border-width: 0 0 0 2px;
    border-radius: 5px;
    padding-left: 20px;
    max-height: 0;
    transition-duration: 1.2s;
  }
  .xcontainer:hover .xdrop {
    max-height: 2000px;
  }
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 105%;
    height: 5%;
    background-color: var(--quintary);
    color: var(--secondary);
    text-align: center;
    z-index: 1;
    border-top: 2px solid var(--secondary);
  }

  .phpadmin {
    position: relative;
    left:85%;
    top: -120px;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
    #popup {
      position: fixed;
      transition-duration: 1s;
    }
    .show {
      right: 220px;
    }
    .notshow {
      right: -100px;
    }
  /* Popup container - can be anything you want */
    .popup {
      position: absolute;
      bottom: 20%;
      transform: translateY(275px);
    }

    .popup h1 {
      font-size: 15px;
/*           text-shadow: 1px 1px 2px #fff; */
    }
    .popup button {
      font-weight: bolder;
    }


    /* The actual popup */
    .popup .popuptext {
        font-size: 15px;
        width: 300px;/*160px;*/
        height: 80px;
        background-color: var(--tertiary);
        color: var(--secondary);
        text-align: center;
        border-radius: 6px 0px 0px 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }


    .popup .popupbutton {
        position: absolute;
        background: var(--primary);
        bottom: 10px;
        width: 35px;
        height: 35px;
        border: 2px solid;
        border-radius: 60%;
        transition-duration: 0.5s;
    }

    .popup .popupbutton:hover{
        background-color: var(--secondary);
    }

    .popup #cookiesAccept {
        position: absolute;
        font-size: 15px;
        left: 5%;
        border-color: #00ff00;
        color: #00ff00;
    }

    .popup #cookiesDecline {
        position: absolute;
        font-size: 15px;
        left: 21%;
        border-color: #ff0000;
        color: #ff0000;
    }

    .popup #popuptitle {
        color:#FFFFFF;
    }

    /* Toggle this class - hide and show the popup */

    /* Add animation (fade in the popup) */

    #footer .privacy {
        position: relative;
        bottom: -12px;
        font-size:12px;
        text-decoration:none;
        color:var(--tertiary);
        text-align: center;
        left:-40px;

    }
    #footer .about {
        position: relative;
        bottom: -12px;
        right:-20px;
        font-size:12px;
        text-decoration:none;
        color:var(--tertiary);
        text-align: center;

    }
