{% extends "base.html" %}
{% block title %}Hofmann Web Services: Über{% endblock %}
{% block style %}
<style>

td {
  width: 200px;
  text-align: center;
}

td img {
  width: 170px;
}


#content {
    position: relative;
    left:30px;
    bottom: 80px;
}

#content h1 {
    color: var(--fun);
}



  #navicon {
    margin-top: 20px;
    height:40px;
    transition-duration: 0.4s;
    border-radius:50%;
    border:/*none*/2px solid #F5F5F5;
    background-color: #F5F5F5;
  }

  #navicon:hover {
    background-color: var(--fun);
  }

.creators .creatorIcon {
    width:60px;
    height:60px;
}

</style>
{% endblock %}
{% block body %}

    <a href="/"><img src="/static/assets/back_house.png" class="homeicon" id="navicon"></a>

<div id="content">
        <h1 style="padding-left:40px;padding-top:-14px;">Über uns</h1>

<div class="creators">
    <h2>Creators</h2>
    <br>
    <table>
      <tr>
        <th>
          <img id="aboutIcon" src="/static/assets/github.svg" height="150" width="150" style="margin-right:30px">
        </th>
        <td>
          <a href="https://github.com/cbt-inspector">
            <img class="creatorIcon" src="https://avatars.githubusercontent.com/u/91567654?v=4">
            <br>
            cbt-inspector
          </a>
        </td>
        <td>
          <a href="https://github.com/moehreag">
            <img class="creatorIcon" src="https://avatars.githubusercontent.com/u/85403855?v=4">
            <br>
            moehreag
          </a>
        </td>
        <td>
          <a href="https://github.com/schlingelTV">
            <img class="creatorIcon" src="https://avatars.githubusercontent.com/u/83114842?v=4">
            <br>
            Schlingel_TV
          </a>

        </td>
      </tr>
    </table>
</div>
</div>

{% endblock %}

    </div>
  </body>
</html>
