{% extends "base.html" %}
{% block title %}Hofmann Web Services: Über{% endblock %}
{% block style %}
<style>

#aboutIcon {}

</style>
{% endblock %}
{% block body %}
<div id="header">
        <h1>About</h1>
</div>
<!-- <hr width="100%"> -->
<div class="creators">
    <h2>Creators</h2>

    <span class=""> moehreag
    <a href="https://github.com/moehreag"><img id="aboutIcon" src="/static/assets/github.svg" height="25" width="25"></a>

    </span>
</div>
{% endblock %}

    </div>
  </body>
</html>
