{% extends "base.html" %}
{% block title %}Hofmann Web Services: Datenschutz{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block body %}
<script>
  var epic = false
  function epicHacker() {
    epic = true
    
  }
</script>
<div id="header">
        <h1>418 I'm a teapot</h1>
      <p> The server refuses to brew coffee because it is, permanently, a teapot.</p>
    </div>
    <div id = "buttonHacker">
      <button type="button"onclick="epicHacker()"><img src="static\assets\HackerIcon.png"width="30" height="30"></button>
    </div>
{% endblock %}
