{% extends "base.html" %}
{% block title %}Hofmann Web Services: {{cont}}{% endblock %}
{% block link %}
<link rel = "stylesheet" href="/static/css/dir.css">
{% endblock %}
{% block style %}

{% endblock %}

{% block body %}

  <span>
    <a href="/">
    <img src="/static/assets/back_house.png" class="homeicon" id="navicon"></a>
    </span>

    {% if path != ""%}
  <span>
    <a href="/{{path}}">
    <img src="/static/assets/back_arrow.png" class="backicon" id="navicon"></a>
  </span>
  {%endif%}
  <h1 id="location"> {{cont}} </h1>

  <br>
  <br>
  <div class="cont">
  {% for x in dircont %}
    {% if "." in x %}
      <img src="/static/assets/iconfile.png" alt="file" class="icon">
      <span>
        <a href="/{{href}}/{{x}}" target="_blank">{{x}}</a>
      </span>
    {% else %}
      <img src="/static/assets/iconfolder.png" alt="folder" class="icon">
      <span>
        <a href="/{{href}}/{{x}}" target="">{{x}}</a>
      </span>
    {% endif %}
    <br>
  {% endfor %}
  </div>
{% endblock %}
