{% extends "base.html" %}
{% block title %}Joachim Hofmann: {{cont}}{% endblock %}

{% block style %}
<style>
  .icon {
    height: 30px;
    margin-top: 3px;
  }
  .backicon{
    position:relative;
    top: 50px;
    right: 51px;
  }
  span {
    font-size: 30px;
  }
  a {
    margin-bottom: 5px;
  }
  #navicon {
    height:40px;
    transition-duration: 0.4s;
    border-radius:50%;
    border:/*none*/2px solid #F5F5F5;
    background-color: #F5F5F5;
  }

  #navicon:hover {
    background-color: #00b068;
  }

  #location {
    position:relative;
    top:-82px;
    left:50px;
    color:#00b068;
  }
  div.cont {
    position:relative;
    top:-100px;
    left:50px;
  }
</style>
{% endblock %}
{% block body %}

  <span>
    <a href="/">
    <img src="/static/assets/back_house.png" class="homeicon" id="navicon"></a>
    </span>

    {% if path != ""%}
  <span>
    <a href="/{{path}}">
    <img src="/static/assets/back_arrow.png" class="backicon" id="navicon"></a>
  </span>
  {%endif%}
  <h1 id="location"> {{cont}} </h1>

  <br>
  <br>
  <div class="cont">
  {% for x in dircont %}
    {% if "." in x %}
      <img src="/static/assets/iconfile.png" alt="file" class="icon">
      <span>
        <a href="/{{href}}/{{x}}" target="_blank">{{x}}</a>
      </span>
    {% else %}
      <img src="/static/assets/iconfolder.png" alt="folder" class="icon">
      <span>
        <a href="/{{href}}/{{x}}" target="">{{x}}</a>
      </span>
    {% endif %}
    <br>
  {% endfor %}
  </div>
{% endblock %}
