<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{errcode}}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel ="stylesheet"  href="/static/css/error.css">
  </head>
  <body>
    <div class="scanline"></div>
    <div class="crt">
      <p>> err_{{errcode}}:</p>
      <p>> {{description}}</p>
      <p>> Would you like to go <a href="/" class="y">back home? [Y</a>/n]</p>
      <p>> <span class="u">_</span></p>
    </div>
    <script>
    document.addEventListener('keydown', function(event) {
      if(event.keyCode == 13) {
        location.href = "/";
      }
      else if(event.keyCode == 89) {
        location.href = "/";
      }
    });
    </script>
  </body>
</html>
