{% extends "base.html" %}
{% block title %}Hofmann Web Services{% endblock %}
{% block style %}
<style>
.promos {
    position:absolute;
    right:80px;
    bottom:200px;
}
/*.promos .promo-icon {
    fill:var(--primary);
}*/



    .xcontainer {
        position:relative;
        bottom:100%;
    }
</style>
{% endblock %}
{% block body %}

<table>
<td>
{% for x in dircontents %}

  <div class="xcontainer">
    <h2>{{x[-1]}}</h2>
    <div class="xdrop">
      {% for y in x %}
        {% if y != x[-1] %}
          <a href="{{x[-1].replace(" ","").replace(".Jahrgangsstufe","JAHRGANGSSTUFE")}}/{{y}}">{{y}}</a>
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

</td>
<td>
<div class="promos">
    <a class="intellij" href="https://www.jetbrains.com/idea/download/"><img class="promo-icon" src="/static/assets/intellijlogo.png"></a>
    <br>
    <a class="bluej" href="https://www.bluej.org/"><img class="promo-icon" src="/static/assets/bluej-icon.png" width="180" height="150"></a>
    <br>
    <a class="guthib" href="https://www.github.org/"><img class="promo-icon" src="/static/assets/github_light.png"></a>
    <br>
</div>
</td>
{% endblock %}
