{% extends "base.html" %}
{% block title %}Joachim Hofmann{% endblock %}
{% block style %}
<style>
  
</style>
{% endblock %}
{% block body %}
{% for x in dircontents %}
  <div class="xcontainer">
    <h2>{{x[-1]}}</h2>
    <div class="xdrop">
      {% for y in x %}
        {% if y != x[-1] %}
          <a href="{{x[-1].replace(" ","").replace(".Jahrgangsstufe","JAHRGANGSSTUFE")}}/{{y}}">{{y}}</a>
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endblock %}
